# This file is an example
# Create a copy and edit with details shared by your workshop organizer(s)

# cp PARTICIPANT.config.sample PARTICIPANT.config
# ## Edit PARTICIPANT.config with your Participant ID, Participant Code and Participant URL
# ./bin/setup-participant.sh

PARTICIPANT_ID=""
PARTICIPANT_CODE=""
PARTICIPANT_URL=""
PARTICIPANT_PROJECT="coding-workshop"
